  <section id="about" class="about">
    <div class="container py-4"  data-aos="fade-up">

      <div class="row position-relative mb-5">
        <div class="col-lg-7 about-img d-none d-md-block" style="background-image: url(assets/image/home/pexels-burst-544971.jpg);"></div>
        <div class="col-lg-7 about-img about-img-2 d-none d-md-block" style="background-image: url(assets/image/home/constructions-3.jpg);"></div>
        <div class="col-lg-7">
          <h2 [ngStyle]="{color: 'var(--color-default)'}">New Mashareq Limited Company</h2>
          <div class="our-story">
            <h3>About Us</h3>
            <p>Welcome to New Mashareq Ltd, a leading contracting company dedicated to delivering exceptional construction services. With a strong track record of successful projects, we take pride in our commitment to quality, innovation, and customer satisfaction.</p>
            <p>At New Mashareq Ltd, we specialize in a wide range of construction services, including commercial, residential, industrial, and infrastructure projects. Our team of skilled professionals, including engineers, architects, and project managers, bring a wealth of expertise and experience to every project we undertake.</p>
            <p>What sets us apart is our unwavering dedication to excellence. We prioritize quality craftsmanship, attention to detail, and adherence to project timelines and budgets. From the initial planning and design stages to the final execution and completion, we ensure that every aspect of your project is handled with the utmost care and precision.</p>
            <p>Our comprehensive range of services includes:</p>
            <ul>
              <li><i class="fa fa-check-circle"></i> <span>General Contracting: We provide end-to-end construction solutions, supervising all aspects of the project to ensure seamless execution and timely delivery</span></li>
              <li><i class="fa fa-check-circle"></i> <span>Design-Build: Our integrated design-build approach combines architectural and engineering expertise, streamlining the construction process and maximizing efficiency</span></li>
              <li><i class="fa fa-check-circle"></i> <span>Renovation and Remodeling: We specialize in transforming existing spaces, breathing new life into them with innovative designs and high-quality craftsmanship</span></li>
              <li><i class="fa fa-check-circle"></i> <span>Infrastructure Development: Our capabilities extend to infrastructure projects, including roads, bridges, utilities, and other critical public works.</span></li>
              <li><i class="fa fa-check-circle"></i> <span>Project Management: With our experienced project management team, we ensure effective coordination, cost control, and efficient resource allocation for successful project outcomes.</span></li>
            </ul>
            <p>At New Mashareq Ltd, safety is paramount. We prioritize the well-being of our workers and adhere to strict safety protocols and regulations to create a secure work environment.</p>
            <p>We are proud of our past accomplishments and the trust our clients have placed in us. Our portfolio showcases a diverse range of successful projects that highlight our commitment to excellence and client satisfaction.</p>
            <p>We invite you to explore our website and discover more about our services, projects, and values. Feel free to contact us for further information or to discuss how we can assist you with your upcoming construction needs.</p>
            <p>Thank you for considering New Mashareq Ltd as your trusted partner in construction. We look forward to the opportunity to bring your vision to life</p>
          </div>
        </div>
      </div>

      <div class="row position-relative">
        <div class="col-lg-5"></div>
          <div class="col-lg-7 about-img about-img-side d-none d-md-block" style="background-image: url(assets/image/home/pexels-anamul-rezwan-1216544.jpg);"></div>
        <div class="col-lg-7">
          <div class="our-side">
            <p>In addition to our core expertise in general contracting and construction management, we possess extensive experience and proficiency in electrical and mechanical works. Our dedicated team of skilled professionals, including electrical engineers and mechanical technicians, ensures the seamless integration of these critical components within our projects.</p>
            <p>Key highlights of our electrical and mechanical capabilities include:</p>
            <ul>
              <li><i class="fa fa-check-circle"></i><span>Electrical Works: We specialize in the design, installation, and maintenance of electrical systems for various types of projects. Our team ensures compliance with industry standards and regulations, delivering safe and efficient electrical solutions.</span></li>
              <li><i class="fa fa-check-circle"></i><span>Mechanical Works: Our mechanical expertise encompasses HVAC systems, plumbing, fire protection, and other essential mechanical installations. We employ advanced techniques and high-quality materials to ensure optimal performance and longevity.</span></li>
              <li><i class="fa fa-check-circle"></i><span>Efficient Project Execution: We understand the importance of time in the construction industry. With our streamlined processes, experienced workforce, and meticulous planning, we consistently meet project deadlines and deliver exceptional results within record timeframes.</span></li>
              <li><i class="fa fa-check-circle"></i><span>Quality Assurance: At New Mashareq Ltd, we prioritize quality and adhere to stringent quality control measures.</span></li>
            </ul>
            <p>Our electrical and mechanical works undergo rigorous inspections and testing procedures to ensure compliance with international standards and client specifications.</p>
            <p>We have successfully executed numerous projects that involved complex electrical and mechanical requirements.</p>
            <p>Our commitment to efficiency, adherence to project schedules, and attention to detail have earned us accolades from our clients.</p>
            <p>We would be thrilled to collaborate with your esteemed organization on any upcoming projects or joint ventures</p>
            <p>At New Mashareq Ltd we prioritize customer satisfaction and strive to exceed expectations in every endeavor. Our commitment to quality, safety, and sustainability is unwavering, and we continually invest in the latest technologies and best practices to deliver outstanding results.</p>
            <p>We would be delighted to collaborate with your esteemed organization on any upcoming projects or joint ventures. Please find attached our company profile for your reference, which provides further details about our capabilities, achievements, and completed projects</p>
          </div>
        </div>

      </div>

    </div>
  </section>
