<section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">Welcome to<span class="d-block">Mashareq Company</span></h2>
          <p data-aos="fade-up">New Mashareq Ltd is a premier construction company renowned for its commitment to excellence, innovation, and customer satisfaction.
            We look forward to the opportunity to exceed your expectations and bring your vision to life</p>
          <button data-aos="fade-up" data-aos-delay="200" class="btn-get-started" routerLink="/projects">Projects</button>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000">

    <div class="carousel-item active" style="background-image: url(assets/image/home/working-hard-building-man-construction-worker.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/image/home/heavy-machines-construction-workers-working-building.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/image/home/constructions-3.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section>
