.projects {
  padding: 100px 0;
}
.row {
  padding: 20px 8px;
}
.body {
  width: 70%;
}

@media (max-width: 991px) {
  .body {
    width: 85%;
  }
}



.left-side {
  background-color: #efeff0;
}


img {
  border-radius: 10px;
  overflow: hidden;
}


h3 {
  position: relative;
  color: #52565E;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.left-side ul li {
  margin-bottom: 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.left-side ul li i {
  color: var(--color-primary);
  margin-right: 10px;

}
.left-side ul li span {
  font-weight: 500;
  margin-left: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.right-side ul li {
  margin-bottom: 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.right-side ul li i {
  color: var(--color-primary);
  margin-right: 10px;

}
.right-side ul li span {
  font-weight: 500;
  margin-left: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.img-frame {
  height: 534px;
}
