<section class="projects" id="projects">
  <div class="container">
    <div class="body m-auto">

      <div class="row row-gap-3 left-side mb-5 rounded-4">
        <div class="col-md-6 m-0">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden ">
              <div class="carousel-item active ">
                <img src="assets/image/projects/Faculty of Dentistry Tanta University/Faculty of Dentistry Tanta University (1).jpg" class="d-block w-100 m-auto" alt="Faculty of Dentistry Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/Faculty of Dentistry Tanta University/Faculty of Dentistry Tanta University (2).jpg" class="d-block w-100 m-auto" alt="Faculty of Dentistry Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/Faculty of Dentistry Tanta University/Faculty of Dentistry Tanta University (3).jpg" class="d-block w-100 m-auto" alt="Faculty of Dentistry Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/Faculty of Dentistry Tanta University/Faculty of Dentistry Tanta University (4).jpg" class="d-block w-100 m-auto" alt="Faculty of Dentistry Tanta University">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Faculty of Dentistry Tanta University</h3>
        </div>
      </div>

      <div class="row row-gap-3 right-side mb-5">
        <div class="col-md-6">
          <h3>Faculty of Nursing, Tanta University</h3>
        </div>
        <div class="col-md-6">
          <div id="carouselExample2" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (1).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (2).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (3).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (4).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (5).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Faculty of Nursing, Tanta University/Faculty of Nursing, Tanta University (6).jpg" class="d-block w-100 img-frame" alt="Faculty of Nursing, Tanta University/">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row row-gap-3 left-side mb-5 rounded-4">
        <div class="col-md-6">
          <div id="carouselExample3" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden">
              <div class="carousel-item active">
                <img src="assets/image/projects/Building_C/building_c (1).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building C">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_C/building_c (2).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building C">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Faculty of Arts, Tanta University - Building C</h3>
          <ul>

          </ul>
        </div>
      </div>

      <div class="row row-gap-3 right-side mb-5">
        <div class="col-md-6">
          <h3>The educational building of the Faculty of Physical Education, Tanta University</h3>

        </div>
        <div class="col-md-6">
          <div id="carouselExample4" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden">
              <div class="carousel-item active">
                <img src="assets/image/projects/The_educational_Physical_Education/Physical (1).jpg" class="d-block w-100 img-frame" alt="The educational building of the Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/The_educational_Physical_Education/Physical (2).jpg" class="d-block w-100 img-frame" alt="The educational building of the Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/The_educational_Physical_Education/Physical (3).jpg" class="d-block w-100 img-frame" alt="The educational building of the Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/The_educational_Physical_Education/Physical (4).jpg" class="d-block w-100 img-frame" alt="The educational building of the Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item ">
                <img src="assets/image/projects/The_educational_Physical_Education/Physical (5).jpg" class="d-block w-100 img-frame" alt="The educational building of the Faculty of Physical Education, Tanta University">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row row-gap-3 left-side mb-5 rounded-4">
        <div class="col-md-6">
          <div id="carouselExample5" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden">
              <div class="carousel-item active">
                <img src="assets/image/projects/Building_D/build-d (1).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (2).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (3).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (4).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (5).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (6).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (7).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (8).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (9).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Building_D/build-d (10).jpg" class="d-block w-100 img-frame" alt="Faculty of Arts, Tanta University - Building D">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Faculty of Arts, Tanta University - Building D</h3>
        </div>
      </div>

      <div class="row row-gap-3 right-side mb-5">
        <div class="col-md-6">
          <h3>Tanta University satellite channel</h3>
        </div>
        <div class="col-md-6">
          <div id="carouselExample6" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (1).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (2).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (3).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (4).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (5).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (6).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (7).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (8).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (9).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (10).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (11).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (12).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (13).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (14).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Tanta University satellite channel/Tanta University satellite channel (15).jpg" class="d-block w-100 img-frame" alt="Tanta University satellite channel">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample6" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample6" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row row-gap-3 left-side  rounded-4">
        <div class="col-md-6">
          <div id="carouselExample7" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden">
              <div class="carousel-item active">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (1).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (2).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (3).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (4).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (5).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Fire Protection System Faculty of Physical Education/Fire Protection System Faculty of Physical Education (6).jpg" class="d-block w-100 img-frame" alt="Fire Protection System Faculty of Physical Education">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample7" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample7" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Fire Protection System Faculty of Physical Education</h3>
        </div>
      </div>

      <div class="row row-gap-3 right-side mb-5">
        <div class="col-md-6">
          <h3>Terraces Faculty of Physical Education, Tanta University</h3>
        </div>
        <div class="col-md-6">
          <div id="carouselExamplee" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/image/projects/Terraces_Faculty_of_Physical_Education_Tanta_University/Physical (1).jpg" class="d-block w-100 img-frame" alt="Terraces Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Terraces_Faculty_of_Physical_Education_Tanta_University/Physical (2).jpg" class="d-block w-100 img-frame" alt="Terraces Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Terraces_Faculty_of_Physical_Education_Tanta_University/Physical (3).jpg" class="d-block w-100 img-frame" alt="Terraces Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Terraces_Faculty_of_Physical_Education_Tanta_University/Physical (4).jpg" class="d-block w-100 img-frame" alt="Terraces Faculty of Physical Education, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/Terraces_Faculty_of_Physical_Education_Tanta_University/Physical (5).jpg" class="d-block w-100 img-frame" alt="Terraces Faculty of Physical Education, Tanta University">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamplee" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExamplee" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row left-side row-gap-3 rounded-4">
        <div class="col-md-6">
          <div id="carouselExample8" class="carousel slide">
            <div class="carousel-inner shadow-lg rounded-3 overflow-hidden">
              <div class="carousel-item active">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (1).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (2).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (3).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (4).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (5).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (6).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
              <div class="carousel-item">
                <img src="assets/image/projects/University Warehouses, Tanta University/University Warehouses, Tanta University (7).jpg" class="d-block w-100 img-frame" alt="University Warehouses, Tanta University">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample8" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample8" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h3>University Warehouses, Tanta University</h3>
        </div>
      </div>
    </div>
  </div>
</section>
