<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="d-flex align-items-center">
          <img src="assets/image/logo.png.png" class="logo" alt="logo">
          <h3 >Mashareq<span [ngStyle]="{color: 'var(--color-primary)'}">.</span></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <ul>
          <li class="d-flex align-items-center gap-3 mb-2">
            <p class="m-0"><span>Eng: </span>Yasen Zainaldein</p>
          </li>
          <li class="d-flex align-items-center gap-3 mb-2">
            <p class="m-0"><span>Eng: </span>Ayman Ammar</p>
          </li>
          <li class="d-flex align-items-center gap-3">
            <p class="m-0"><span>Acc: </span>Reda Eltayeb</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <ul class="links">
          <li routerLink="/home"><i class="fa-solid fa-angle-right"></i> Home</li>
          <li routerLink="/about"><i class="fa-solid fa-angle-right"></i> About</li>
          <li routerLink="/projects"><i class="fa-solid fa-angle-right"></i> Projects</li>
          <li routerLink="/contact"><i class="fa-solid fa-angle-right"></i> Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
