footer {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  color: white;
}

.logo {
  width: 80px;
}


.links li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff99;
  transition: 0.5s;
}

.links li:hover {
  color: var(--color-primary);
  cursor: pointer;
  margin-left: 10px;
}

ul li a {
  color: #ffffff99;
  transition: 0.5s;
}

ul li:hover a {
  color: var(--color-primary);
}

